// 以bootstrap5的xxl和iPad以下(767px)為斷點
$desktop-width: 1320px;
$pad-width: 992px;
$mobile-width: 767px;
// 容器
$container-lg: 960px;
$container-md: 720px;
$container-sm: 540px;
// header
$header-bg-primary: #198754;
$nav-menu-text-primary: #fff;
$nav-menu-text-primary--hover: #CED4DA;
$ham-icon-bar-primary: gray;
$ham-icon-bg-primary: #fff;
$ham-menu-border-primary: #fff;
$ham-menu-bg-primary: #F8F9FA;
// aside
$aside-bg-primary: #F8F9FA;
// pages
$text-primary: #212529;
$text-secondary: #6C757D;
$pages-link-primary--hover: #6c757d;
