header {
    background-color: $header-bg-primary;
    position: sticky;
    top: 0;
    z-index: 999;
    .container {
        padding: 16px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ham-toggle {
        visibility: hidden;
    }
    .list-menu {
        background-color: $header-bg-primary;
        color: $nav-menu-text-primary;
        display: flex;
        font-size: 20px;
        line-height: 30px;
    }
    a {
        color: $nav-menu-text-primary;
        &:hover {
            color: $nav-menu-text-primary--hover;
        }
    }
}

/*
    ham-menu
*/
@media screen and (max-width: $pad-width) {
    @include ham-menu;
}