// 引入google font字體
body {
    font-family: 'Lato', sans-serif,'Roboto Mono', monospace;
    color: $text-primary;
    display: flex;
    @include mobile {
        display: block;
    }
}
h1 {
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.h3 {
    font-size: 14px;
    line-height: 24px;
}
.h4 {
    font-size: 14px;
    line-height: 21px;
}
p {
    font-size: 12px;
    line-height: 24px;
}
.text-secondary {
    color: $text-secondary;
}
.--active {
    background: #F8F9FA;
}
.max-width-488 {
    max-width: 488px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.mb-32 {
    margin-bottom: 32px;
}
.g-23 {
    gap: 23px;
}
.px-40-8 {
    padding: 40px 0 8px 0;
}
.pr-32 {
    padding-right: 32px;
}
.pr-50 {
    padding-right: 50px;
}
.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.pt-12 {
    padding-top: 12px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pxy-12 {
    padding: 12px;
}
.bd-bottom {
    border-bottom: 1px solid #CED4DA;
}